html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
} 

/* Common */
a{
    text-decoration: none;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

section{
    padding-top: 100px;
}

/* Common Containers */
.container_L, .container_M, .container_S{
    margin: 0 auto;
}
.container_L{
    max-width: 98%;
}

.container_M{
    max-width: 1400px;
}

.container_S{
    max-width: 1000px;
}

/* Common Margins */
.c-margin{
    margin: 0 40px;
}

/* Common Typography */
header{
    font-size: 11pt;
    font-weight: 600;
}

h1{
    font-size: 60pt;
    font-weight: 700;
}

h2{
    font-size: 30pt;
    font-weight: 700;
    margin-bottom: 35px;
}

h3{
    font-size: 20pt;
    margin-bottom: 25px;
}

h4{
    margin-bottom: 20px;
}

span.underline{
    text-decoration: underline;
}

.plan-radio label{
    font-size: 11pt;
    font-weight: 600;
}

/* buttons */
.btn:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 25px -12px rgba(0,0,0,0.4);
    transition: 0.3s;
}
.btn{
    background-color: #0061ff;
    padding: 8px 20px;
    color: white;
    display: inline-block;
}
.btn.btn-pad50{
    padding: 8px 50px;
}
.nobtn{
    display: block;
    color: black;
    font-size: 11pt;
    font-weight: 600;
}
.btn.btn-empty{
    color: #333;
    background-color: transparent;
    border: 2px solid #333;
}
.btn.btn-white{
    color: #000;
    background-color: white;
}

/* Header */
header{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
}

.top-nav-left, .top-nav-right{
    height: 70px;
    float: left;
    width: 50%;
}
.top-nav-right{
    text-align: right;
}
header ul{
    display: inline-block;
    padding: 0px 2%;
}
header li{
    display: inline-block;
    vertical-align: middle;
    line-height: 70px;
}
header li a{
    padding: 12px;
    color: black;
}
.top-nav-left img{
    vertical-align: middle;
}

/* Hero section*/
.hero{
    background-color: #b4d0e7;
    width: 100%;
    padding-top: 150px;
}

.hero img{
    width: 60%;
    min-height: 100px;
    float: right;
    transform: translateY(80px);
}

.hero-text{
    max-width: 27%;
    min-height: 100px;
    float: left;
    transform: translateY(80px);
}

.hero-text i{
    font-size: 40px;
    display: block;
}
.hero-text p{
    font-size: 11pt;
    font-weight: 600;
    display: block;
}

.hero .btn, .hero i{
    margin-top: 35px;
}
.hero .nobtn{
    margin-top: 8px;
}

/* Find your plan */
#FindPlanSec{
    padding-top: 150px;
}

.plan-radio label{
    margin-right: 20px;
}
.plan-radio{
    margin-bottom: 25px;
}

.plan-type, .plan-type-large{
    float: left;
    border: 1px solid #888;
}

.plan-type{
    width: calc(100% / 3 - 26.7px);
    min-height: 1000px;
}

.plan-type-large{
    width: 100%;
    margin-top: 40px;
    min-height: 230px;
}


/* Plan type Headbox */
.plan-type .headbox, .plan-type-large .headbox{
    width: 100%;
    border-bottom: 1px solid #888;
    text-align: center;
    line-height: 35px;
    color: #333;
}

.plan-type h5, .plan-type-large h5{
    display: inline;
}

.plan-type h6{
    font-size: 15pt;
    margin-bottom: 8px;
}

/* Plan type body */
.bodybox .pt-fea{
    margin: 45px 0;
}
.bodybox h3{
    margin-bottom: 8px;
}
.bodybox p, .bodybox li{
    margin-bottom: 20px;
}

.bodybox li{
    list-style-type: none;
}
.bodybox li:before{
    content: '\f00c';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    color: #0061ff;
    margin-right: 10px;
    margin-top: 4px;
    vertical-align: top;
}
.bodybox ul i{
    list-style-type: none;
    display: inline-block;
}
.bodybox li span{
    width: 85%;
    display: inline-block;
}

.bodybox{
    padding: 30px 20px 0px 20px;
}

.link-under-btn{
    margin-top: 25px;
    /* border-bottom: 2px solid black; */
    padding-bottom: 30px;
    position: relative;
}
.link-under-btn a{
    color: #0061ff;
    text-decoration: underline;
}
.bodybox .link-under-btn:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 22%;
    border-top: 2px solid #000;
}
.plan-type a.btn{
    width: 100%;
    text-align: center;
}

/* Plan Type Large */
.plan-type-large .bodybox{
    position: relative;
}
.plan-type-large a.btn{
    position: absolute;
    top: 20px;
    right: 20px;
}
.plan-type-large p{
    margin: 50px 0 0 0;
}


/* Partner Section */
#partner img{
    width: 50%;
    float: left;
}

#partner .container_S div{
    width: 50%;
    float: left;
    padding: 40px 0px 0px 40px;
}

#partner p{
    margin-bottom: 25px;
}

/* Business feature */
.bs-f-box{
    width: calc(100% / 3 - 26.7px);
    float: left;
    margin-bottom: 40px;
    margin-top: 20px;
}
.bs-f-box img{
    width: 100%;
}

/* Team Show */
#team-show{
    padding-top: 200px;
}

.tms-sq-b{
    width: 30vw;
    float: left;
}

.tms-sq-b div{
    width: 15vw;
    height: 15vw;
    float: left;
}

.tms-sq-b div img{
    width: 50%;
    margin: 50% 0px 0px 50%;
    transform: translate(-50%, -50%);
}

.tms-sq-c{
    width: calc(40vw - 17px);
    height: 30vw;
    float: left;
    padding: 60px;
    overflow-y: auto;

    background-color: #f5f5f5;
}
.tms-sq-c img{
    width: 30%;
    display: block;
}
.tms-sq-c div{
    position: relative;
    padding: 30px 0;
    margin-bottom: 35px;
}
.tms-sq-c div:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 12%;
    border-top: 2px solid #888;
}
.tms-sq-c span{
    margin-top: 30px;
    display: inline-block;
}

#tms-DESIGNit{
    background-color: #a2d39b;
}
#tms-ASU{
    background-color: #61082b;
}
#tms-UF{
    background-color: #0093ce;
}
#tms-TOPPS{
    background-color: #ff1c1c;
}
#tms-WBR{
    background-color: #d5001f;
}
#tms-HEARST{
    background-color: #b4d0e7;
}
#tms-LonelyPlanet{
    background-color: #0d2481;
}
#tms-ClearChannel{
    background-color: #ffd830;
}

div:hover[id^=tms-]{
    border: 10px solid rgba(255, 255, 255, 0.5);
}


/* Prova Dropbox Business */
#db-ftry{
    background-color: #b4d0e7;
    padding-bottom: 100px;
}

#db-ftry .container_S div{
    width: 50%;
    float: left;
}
#db-ftry .container_S div:last-child{
    text-align: right;
}

#db-ftry h2{
    color: #61082b;
    margin: 0;
}

/*Questions Section*/
#questions{
    padding-bottom: 100px;
}
#questions h4{
    margin: 0;
    display: inline-block;
}
#questions .fa-angle-down{
    font-size: 20pt;
    float: right;
    margin-right: 30px;
    color: #888;
}


#questions .container_S > ul > li{
    border-bottom: 1px solid #888;
    padding: 30px 0px;
    list-style-type: none;
}

#questions .container_S > ul > li:first-of-type{
    border-top: 1px solid #888;
}
p.answer{
    margin-top: 20px;
    display: none;
}
#questions .container_S > ul > li:hover > p.answer{
    display: block;
}

/* Footer */
footer{
    background-color: black;
    color: white;
    padding: 150px 0px 30px 0px;
}

footer a{
    color: white;
}
footer a:hover{
    color: #0061ff;
}

footer ul{
    list-style-type: none;
}

footer .container_M > ul{
    margin-bottom: 80px;
}

footer .container_M > ul >li{
    width: calc(100% / 5);
    float: left;
}

footer h3 + ul li{
    margin-bottom: 15px;
}

.foot-lang:before{
    content: "";
    width: 100px;
    height: 2px;
    display: block;
    margin-bottom: 30px;
    background-color: white;
}
.foot-lang p{
    display: inline;
}
.foot-lang i{
    margin: 0 5px;
}