* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
} 

/* Common */
a{
    text-decoration: none;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* Containers */
.container_L, .container_M, .container_S{
    margin: 0 auto;
}
.container_L{
    max-width: 98%;
}

.container_M{
    max-width: 1400px;
}

.container_S{
    max-width: 1000px;
}

/* Common Typography */
header{
    font-size: 11pt;
    font-weight: 600;
}

h1{
    font-size: 60pt;
    font-weight: 700;
}

/* buttons */
.btn{
    background-color: #0061ff;
    padding: 8px 20px;
    color: white;
    display: inline-block;
}
.nobtn{
    display: block;
    color: black;
    font-size: 11pt;
    font-weight: 600;
}

/* Header */
header{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
}

.top-nav-left, .top-nav-right{
    height: 70px;
    float: left;
    width: 50%;
}
.top-nav-right{
    text-align: right;
}
header ul{
    display: inline-block;
    padding: 0px 2%;
}
header li{
    display: inline-block;
    vertical-align: middle;
    line-height: 70px;
}
header li a{
    padding: 12px;
    color: black;
}
.top-nav-left img{
    vertical-align: middle;
}

/* Hero section*/
.hero{
    background-color: #b4d0e7;
    width: 100%;
    padding-top: 150px;
}

.hero img{
    width: 60%;
    min-height: 100px;
    float: right;
    transform: translateY(80px);
}

.hero-text{
    max-width: 27%;
    min-height: 100px;
    float: left;
    transform: translateY(80px);
}

.hero-text i{
    font-size: 40px;
    display: block;
}
.hero-text p{
    font-size: 11pt;
    font-weight: 600;
    display: block;
}

.hero .btn, .hero i{
    margin-top: 35px;
}
.hero .nobtn{
    margin-top: 8px;
}